nav {
  float: left;
  width: 20%;
  position: fixed;
  top: 90px;
  left: 5%;
  background-color: linear-gradient(to bottom, #7b5fac, #5a55ae, #3f51b5);;
  border-radius: 10px;
  box-shadow: 2px 2px #333;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
  
nav a {
  color: white;
  display: block;
  padding: 10px;
  text-decoration: none;
  transition: all 0.3s ease;
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
}
  
nav a:hover {
  transform: translateY(-2px);
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: linear-gradient(to bottom, #7b5fac, #5a55ae, #3f51b5);
  color: white;
  max-width: 800px;
  margin: auto;

}
h1 {
  font-size: 36px;
  margin-bottom: 20px;
  text-shadow: 2px 2px #333;
}
form {
  display: inline-block;
  text-align: left;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 0 10px #333;
  width: 80%;
  max-width: 500px;
  margin: auto;
}

footer {
  text-align: center;
  padding: 1em 0;
  width: 100%;
}

input[type="radio"] {
  margin-right: 10px;
}

input[type="submit"] {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: green;
  color: white;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 2px #333;
  cursor: pointer;
  transition: all 0.3s ease;
}

input[type="submit"]:hover {
  transform: translateY(-2px);
  box-shadow: 4px 4px #333;
}

footer {
  text-align: center;
  padding: 1em 0;
}

